html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Muller;
  background-color: #F1F1F1;
}

.list-resert{
  margin: 0;
  padding: 0;
  list-style: none;
}

.header{
  padding: 30px 0 70px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.container{
  margin: 0 auto;
  max-width: 1170px;
}

.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header__top-main{
  display: flex;
  gap: 40px;
  align-items: center;
}

.header__top-tel{
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.header__account{
  background-image: url("../img/account-arrow.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 29px;
  color: #CC9933;
}

.header__buttom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 45px;
  border-radius: 15px;
  background: #FFF;
}

.header__list{
  display: flex;
  gap: 45px;
}

.header__buttons{
  display: flex;
  gap: 40px;
}

.header__btn{
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid #C93;
  background-color: transparent;
  color: #CC9933;
  cursor: pointer;
}

/* -------------offers-------------*/

.title{
  margin: 0 0 20px 40px;
  color: #333;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.offers{
  padding-bottom: 70px;
}

.offers__list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.offers__list-item:nth-child(2){
  grid-row: span 2;
}

.offers__list-item{
  background-repeat: no-repeat;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
}

.offers__item-1{
  background-image: url("../img/offers__item-1.jpg");
}

.offers__item-2{
  padding: 212px 229px 40px 45px;
  background-image: url("../img/offers__item-2.jpg");
}

.offers__item-3{
  background-image: url("../img/offers__item-3.jpg");
}

.offers__item-title{
  margin: 0;
  margin-bottom: 15px;
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.offers__item-title--big{
  margin: 0;
  margin-bottom: 15px;
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.offers__item-price{
  margin: 0;
  margin-bottom: 47px;
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
}

.offers__item-price--big{
  margin: 0;
  margin-bottom: 47px;
  color: #FFF;
  font-size: 30px;
  line-height: 30px;
}

.offers__item-link{
  background-image: url("../img/offers-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
}


/* -------------about-------------*/

.about{
  padding-bottom: 70px;
}

.about__text{
  margin: 0;
  max-width: 888px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* -------------services-------------*/

.services{
  padding-bottom: 70px;
}

.services__list{
  font-size: 0;
}

.services__list-item{
  display: inline-block;
  vertical-align: top;
  width: 573px;
  margin-bottom: 24px;
  margin-right: 24px;
  padding: 191px 45px 35px;
  background-color: #FFFFFF;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top;
}

.services__list-item:nth-child(even){
  margin-right: 0;
}

.services__list-item:nth-last-child(-n+2){
  margin-bottom: 0;
}

.services__item-1{
  background-image: url("../img/services__item-1.jpg");
}

.services__item-2{
  background-image: url("../img/services__item-2.jpg");
}

.services__item-3{
  background-image: url("../img/services__item-3.jpg");
}

.services__item-4{
  background-image: url("../img/services__item-4.jpg");
}

.services__list-link{
  padding-right: 20px;
  background-image: url("../img/offers-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #CC9933;
}

.services__list-text{
  margin: 0;
  max-width: 402px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* -------------advantage-------------*/

.advantage{
  padding-bottom: 70px;
}

.advantage__list{
  font-size: 0;
}

.advantage__list-item{
  display: inline-block;
  vertical-align: top;
  width: 276px;
  margin-bottom: 22px;
  margin-right: 22px;
  padding: 116px 42px 32px 45px;
  background-color: #FFF;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top 40px left 45px;
}

.advantage__list-item:nth-child(4n){
  margin-right: 0;
}

.advantage__list-item:nth-last-child(-n+4){
  margin-bottom: 0;
}

.advantage__list-text{
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.advantage__item-1{
  background-image: url("../img/advantage__item-1.svg");
}

.advantage__item-2{
  background-image: url("../img/advantage__item-2.svg");
}

.advantage__item-3{
  background-image: url("../img/advantage__item-3.svg");
}

.advantage__item-4{
  background-image: url("../img/advantage__item-4.svg");
}

.advantage__item-5{
  background-image: url("../img/advantage__item-5.svg");
}

.advantage__item-6{
  background-image: url("../img/advantage__item-6.svg");
}

.advantage__item-7{
  background-image: url("../img/advantage__item-7.svg");
}

.advantage__item-8{
  background-image: url("../img/advantage__item-8.svg");
}

/* -------------placement-------------*/

.placement{
  padding-bottom: 70px;
}

.placement__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}

.card__photo{
  height: 217px;
}

.card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__box{
  width: 374px;
  height: 223px;
  padding: 32px 45px 45px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.card__desc{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__prices{
  margin: 0;
  display: flex;
  gap: 4px;
  align-items: baseline;
}

.card__price-1 {
  color: #999999;
}

.card__price-2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.card__hotel {
  margin: 0;
}

.card____country{
  margin: 0;
  color: #999999;
}

.card__btn{
  padding: 13px 20px;
  color: #CC9933;
  background-color: transparent;
  border: 1px solid #CC9933;
  border-radius: 10px;
  cursor: pointer;
}

.card__link{
  padding: 373px 54px 27px;
  background-image: url(../img/card__link.png);
  background-repeat: no-repeat;
  text-align: center;
}

.card__link-item{
  padding-right: 20px;
  background-image: url(../img/card-arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}
