html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Muller;
  background-color: #F1F1F1;
}

.list-resert{
  margin: 0;
  padding: 0;
  list-style: none;
}

.header{
  padding-top: 30px;
  margin-bottom: 70px;
}

.container{
  margin: 0 auto;
  max-width: 1170px;
}

.header__top{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header__tel{
  margin-left: 40px;
}

.header__account{
  background-image: url("../img/account-arrow.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 29px;
  margin-left: 550px;
}

.header__buttom{
  border-radius: 15px;
  background: #FFF;
}

.header__list{
  display: inline-flex;
  margin: 0;
  padding: 27px 0 27px 45px;
}

.header__item{
  margin-right: 45px;
}

.header__item:last-child{
  margin-right: 0;
}

.header__btn{
  display: inline-flex;
  font-size: 0;
  padding: 14px 45px 14px 114px;
}

.header__btn-list:first-child{
  margin-right: 40px;
}

.header__btn-item{
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid #C93;
  background-color: transparent;
  color: #CC9933;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}


/* -------------offers-------------*/

.title{
  margin: 0;
  padding-left: 40px;
  margin-bottom: 20px;
  color: #333;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.offers{
  margin-bottom: 70px;
}

.offers__list{
  font-size: 0;
}

.offers__list-item{
  width: 573px;
  height: 258px;
  background-repeat: no-repeat;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
}

.offers__item-link{
  color: #F0BF5F;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.offers__item-1{
  background-image: url("../img/offers__item-1.jpg");
}

.offers__item-2{
  padding: 212px 229px 40px 45px;
  height: 540px;
  background-image: url("../img/offers__item-2.jpg");
}

.offers__item-3{
  background-image: url("../img/offers__item-3.jpg");
}

.offers__item-title{
  margin: 0;
  padding-bottom: 15px;
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.offers__item-title--big{
  margin: 0;
  padding-bottom: 15px;
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.offers__item-price{
  margin: 0;
  padding-bottom: 47px;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.offers__item-price--big{
  margin: 0;
  padding-bottom: 47px;
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.offers__item-link{
  background-image: url("../img/offers-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
}


/* -------------about-------------*/

.about{
  margin-bottom: 70px;
}

.about__text{
  margin: 0;
  max-width: 888px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* -------------services-------------*/

.services{
  margin-bottom: 70px;
}

.services__list{
  font-size: 0;
}

.services__list-item{
  display: inline-block;
  vertical-align: top;
  width: 573px;
  height: 330px;
  margin-bottom: 24px;
  margin-right: 24px;
  padding: 191px 45px 35px;
  background-color: #FFFFFF;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top;
}

.services__list-item:nth-child(even){
  margin-right: 0;
}

.services__list-item:nth-last-child(-n+2){
  margin-bottom: 0;
}

.services__item-1{
  background-image: url("../img/services__item-1.jpg");
}

.services__item-2{
  background-image: url("../img/services__item-2.jpg");
}

.services__item-3{
  background-image: url("../img/services__item-3.jpg");
}

.services__item-4{
  background-image: url("../img/services__item-4.jpg");
}

.services__list-link{
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #CC9933;
  background-image: url("../img/offers-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
}

.services__list-text{
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* -------------advantage-------------*/

.advantage{
  margin-bottom: 70px;
}

.advantage__list{
  font-size: 0;
}

.advantage__list-item{
  display: inline-block;
  vertical-align: top;
  width: 276px;
  height: 276px;
  margin-bottom: 22px;
  margin-right: 22px;
  padding: 116px 42px 32px 45px;
  background-color: #FFF;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top 40px left 45px;
}

.advantage__list-item:nth-child(4n){
  margin-right: 0;
}

.advantage__list-item:nth-last-child(-n+4){
  margin-bottom: 0;
}


.advantage__list-text{
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.advantage__item-1{
  background-image: url("../img/advantage__item-1.svg");
}

.advantage__item-2{
  background-image: url("../img/advantage__item-2.svg");
}

.advantage__item-3{
  background-image: url("../img/advantage__item-3.svg");
}

.advantage__item-4{
  background-image: url("../img/advantage__item-4.svg");
}

.advantage__item-5{
  background-image: url("../img/advantage__item-5.svg");
}

.advantage__item-6{
  background-image: url("../img/advantage__item-6.svg");
}

.advantage__item-7{
  background-image: url("../img/advantage__item-7.svg");
}

.advantage__item-8{
  background-image: url("../img/advantage__item-8.svg");
}

/* -------------placement-------------*/

.placement{
  margin-bottom: 70px;
}

.placement__item{
  display: inline-block;
  font-size: 16px;
  font-weight: 400px;
  line-height: 16px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.placement__wrapper{
  padding: 32px 45px 45px;
}

.placement__price{
  display: inline-block;
  width: 138px;
}

.placement__list-item{
  width: 374px;
  height: 440px;
}

.placement__price-1{
  color: #999999;
}

.placement__price-2{
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.placement__description{
  margin-bottom: 20px;
}

.placement__country{
  color: #999999;
}

.placement__btn{
  padding: 13px 20px;
  color: #CC9933;
  background-color: transparent;
  border: 1px solid #CC9933;
  border-radius: 10px;
  cursor: pointer;
}
